.lucky-popup {
    /* background-image: url('../assets/image/bgcImg.png'); */
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* position: fixed; */
    /* background-size: 100% 100%; */
  }
  
  /* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    padding-bottom: 0;
    font-size: 50px;
    font-weight: bold;
    color: #626868;
}
.icon {
    width: 45px;
    cursor: pointer;
}
.icon:hover {
    transform: scale(1.3);
}
  
/* 姓名学号 */
  .lucky-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
  }
  
  .lucky-icon {
    width: 780px;
    position: relative;
  }
  

  .student-id {
    position: absolute;
    top: 35%;
    font-size: 75px;
    font-weight: bold;
    color: black;
  }
  .student-name {
    position: absolute;
    top: 50%;
    font-size: 75px;
    font-weight: bold;
    color: black;
  }
  .student-msg {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 65%;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: #333;
  }


/* 分数按钮 */
  .score-buttons {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
  }
  
  .score-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 115px;
    border: none;
    border-radius: 5px;
    background-color: #A182FF;
    color: white;
    cursor: pointer;
    font-size: 30px;
    transition: background-color 0.3s;
  }
  
  .score-btn.active, .score-btn:hover {
    background-color: #6231F5;
  }
  
  .score-btn input {
    width: 50px;
    height: 28px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 8px;
    font-size: 28px;
    border: none;
    background-color: #EBE4FF;
    color: #333;
    text-align: center;
  }

/* 底部 */
  .bottom{
    position: absolute;
    display: flex; align-items: center;justify-content: space-around;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #EBE4FF;
}
.cancel {
    width: auto;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 23px;
    background-color: #fff;
    color: #A182FF;
    cursor: pointer;
}
.cancel:hover {
    background-color: #dfdede;
}
.confirm{
    width: auto;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 23px;
    background-color: #A182FF;
    color: #fff;
    cursor: pointer;
}
.confirm:hover {
    background-color: #6231F5;
}